@import url('reset.css');

body {
    background-color: black;
    color: white;
}
.banner {
    background-image: url(../images/banner.png),
                      linear-gradient(rgba(0, 0, 0, 0.6),
                                      rgba(49, 168, 221, 0.25),
                                      rgba(0, 0, 0, 0.6)

    );
}


